#product_div {
  padding-left: 50px;
	div.text{
		width: 500px;
	}
  a.product {
    display: inline-block;
    width: 120px;
    height: 80px;
    margin: 15px;
    img {
      padding: 11px;
      width: 100px;
      height: 60px; }
    background: url(/images/frame.png) no-repeat; } }