/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 75%;
}

/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 54, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 56, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 57, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 58, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 59, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 62, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #004c99;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #0099ff;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #0099ff;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #bf00ff;
}

/* line 63, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 64, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 66, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 68, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 69, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 70, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 71, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 72, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 73, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 74, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 75, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 76, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 78, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 79, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 80, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 81, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 82, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 85, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

/* line 86, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 87, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 88, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 89, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 2, ../../app/stylesheets/partials/_aboutus.scss */
#container #content #main-content #aboutus_div ul.dot {
  list-style: dot;
}

/* line 1, ../../app/stylesheets/partials/_scrollbar.scss */
.scrolldiv {
  width: 430px;
  clear: both;
  margin-top: 10px;
}

/* line 2, ../../app/stylesheets/partials/_scrollbar.scss */
.scrolldiv .viewport {
  width: 410px;
  height: 450px;
  overflow: hidden;
  position: relative;
}

/* line 3, ../../app/stylesheets/partials/_scrollbar.scss */
.scrolldiv .overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 5, ../../app/stylesheets/partials/_scrollbar.scss */
.scrolldiv .thumb .end,
.scrolldiv .thumb {
  background-color: pink;
}

/* line 6, ../../app/stylesheets/partials/_scrollbar.scss */
.scrolldiv .scrollbar {
  position: relative;
  float: right;
  width: 15px;
}

/* line 7, ../../app/stylesheets/partials/_scrollbar.scss */
.scrolldiv .track {
  background-color: #f2f2f2;
  height: 100%;
  width: 13px;
  position: relative;
  padding: 0 1px;
}

/* line 8, ../../app/stylesheets/partials/_scrollbar.scss */
.scrolldiv .thumb {
  height: 20px;
  width: 13px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
}

/* line 9, ../../app/stylesheets/partials/_scrollbar.scss */
.scrolldiv .thumb .end {
  overflow: hidden;
  height: 5px;
  width: 13px;
}

/* line 10, ../../app/stylesheets/partials/_scrollbar.scss */
.scrolldiv .disable {
  display: none;
}

/* line 1, ../../app/stylesheets/partials/_products.scss */
#product_div {
  padding-left: 50px;
}
/* line 3, ../../app/stylesheets/partials/_products.scss */
#product_div a.product {
  display: inline-block;
  width: 120px;
  height: 80px;
  margin: 15px;
  background: url(/images/frame.png) no-repeat;
}
/* line 8, ../../app/stylesheets/partials/_products.scss */
#product_div a.product img {
  padding: 11px;
  width: 100px;
  height: 60px;
}

/* line 2, ../../app/stylesheets/partials/_slides.scss */
#slides ul.pagination {
  height: 20px;
  margin-top: 5px;
}
/* line 5, ../../app/stylesheets/partials/_slides.scss */
#slides ul.pagination li {
  float: left;
}
/* line 7, ../../app/stylesheets/partials/_slides.scss */
#slides ul.pagination li.current a {
  color: red;
}
/* line 8, ../../app/stylesheets/partials/_slides.scss */
#slides ul.pagination li a {
  text-decoration: none;
  font-weight: bold;
  color: #ccc;
  border: 1px solid pink;
  padding: 4px;
  line-height: 13px;
  display: inline-block;
  margin: 0 2px;
}
/* line 17, ../../app/stylesheets/partials/_slides.scss */
#slides .slides_container {
  width: 428px;
  height: 170px;
}
/* line 20, ../../app/stylesheets/partials/_slides.scss */
#slides .slides_container div {
  width: 428px;
  height: 170px;
  display: block;
}
/* line 24, ../../app/stylesheets/partials/_slides.scss */
#slides .slides_container div img {
  width: 428px;
  height: 170px;
}

/* line 45, ../../app/stylesheets/screen.scss */
body {
  background: url(/images/sidebg.png);
}
/* line 47, ../../app/stylesheets/screen.scss */
body #filter_links {
  height: 30px;
}
/* line 49, ../../app/stylesheets/screen.scss */
body #filter_links li {
  float: left;
}
/* line 50, ../../app/stylesheets/screen.scss */
body #filter_links a {
  color: red;
  display: inline-block;
  padding: 2px 4px;
  margin: 0px 2px;
}
/* line 55, ../../app/stylesheets/screen.scss */
body #filter_links a.selected {
  background-color: red;
  color: white;
}
/* line 58, ../../app/stylesheets/screen.scss */
body #flash {
  margin-bottom: 10px;
}
/* line 60, ../../app/stylesheets/screen.scss */
body #flash div {
  text-align: center;
  padding: 5px;
  font-size: 1.2em;
  color: #333;
  background-color: yellow;
}
/* line 66, ../../app/stylesheets/screen.scss */
body #flash div.error {
  background-color: red;
}
/* line 68, ../../app/stylesheets/screen.scss */
body #inquery-form input#subject {
  width: 205px;
}
/* line 69, ../../app/stylesheets/screen.scss */
body #inquery-form textarea {
  width: 200px;
  height: 90px;
}
/* line 72, ../../app/stylesheets/screen.scss */
body ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 73, ../../app/stylesheets/screen.scss */
body .clear {
  clear: left;
}
/* line 74, ../../app/stylesheets/screen.scss */
body .two-col {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  width: 800px;
}
/* line 77, ../../app/stylesheets/screen.scss */
body .two-col #sidebar {
  width: 156px;
  float: left;
}
/* line 80, ../../app/stylesheets/screen.scss */
body .two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 620px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .two-col #content {
  overflow-x: hidden;
}
/* line 82, ../../app/stylesheets/screen.scss */
body #container {
  background: white url(/images/bg_top.png) no-repeat;
  color: #444444;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 90, ../../app/stylesheets/screen.scss */
body #container img.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
/* line 91, ../../app/stylesheets/screen.scss */
body #container #copyright {
  color: #666666;
  font-size: 0.8em;
  padding: 10px 0px 10px 285px;
}
/* line 95, ../../app/stylesheets/screen.scss */
body #container #footer {
  clear: both;
  padding: 10px 5px 6px 265px;
  background: url(/images/footer_bg.png) no-repeat;
  color: #666666;
  margin-left: 1px;
  height: 16px;
}
/* line 102, ../../app/stylesheets/screen.scss */
body #container #footer ul {
  float: left;
}
/* line 104, ../../app/stylesheets/screen.scss */
body #container #footer ul li {
  float: left;
  padding: 0 5px;
}
/* line 107, ../../app/stylesheets/screen.scss */
body #container #footer ul li a {
  font-size: 0.9em;
  color: #666666;
}
/* line 109, ../../app/stylesheets/screen.scss */
body #container #sidebar .sidefill {
  margin-left: 1px;
  min-height: 588px;
  background: url(/images/leftdot.png) repeat-y;
}
/* line 113, ../../app/stylesheets/screen.scss */
body #container #sidebar .sidefill h3.news {
  margin: 0;
  padding: 10px 0;
  font-size: 1.2em;
  color: red;
  text-align: center;
  font-weight: bold;
}
/* line 120, ../../app/stylesheets/screen.scss */
body #container #navbar {
  padding: 65px 0 83px 30px;
}
/* line 123, ../../app/stylesheets/screen.scss */
body #container #navbar ul li {
  padding-bottom: 2px;
}
/* line 125, ../../app/stylesheets/screen.scss */
body #container #navbar ul li.current a {
  color: #444;
  background: url(/images/dot.png) 0 50% no-repeat;
}
/* line 128, ../../app/stylesheets/screen.scss */
body #container #navbar ul li a {
  background: url(/images/circle.png) 0 50% no-repeat;
  padding-left: 18px;
  display: inline-block;
  letter-spacing: 2px;
  color: #aaa;
  font-family: arial;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 139, ../../app/stylesheets/screen.scss */
body #container #content ul {
  list-style: none;
}
/* line 141, ../../app/stylesheets/screen.scss */
body #container #content .image-wrapper {
  text-align: center;
}
/* line 142, ../../app/stylesheets/screen.scss */
body #container #content .rside-fill {
  float: left;
  width: 150px;
  padding-left: 15px;
}
/* line 146, ../../app/stylesheets/screen.scss */
body #container #content .rside-fill h3.side-header {
  margin: 0;
  padding: 10px 0;
  font-size: 1.2em;
  color: red;
  text-align: center;
  font-weight: bold;
}
/* line 153, ../../app/stylesheets/screen.scss */
body #container #content .rside-fill ul li {
  text-align: center;
  padding-bottom: 10px;
}
/* line 25, ../../app/stylesheets/screen.scss */
body #container #content .rside-fill ul li .image-wrapper {
  width: 100px;
  height: 140px;
  line-height: 140px;
  background-color: white;
  text-align: center;
  overflow: hidden;
  border: 1px solid #CCC;
  padding: 2px;
  -moz-box-shadow: 1px 2px 4px #dddddd;
  -webkit-box-shadow: 1px 2px 4px #dddddd;
  -o-box-shadow: 1px 2px 4px #dddddd;
  box-shadow: 1px 2px 4px #dddddd;
  margin: 0 auto;
}
/* line 32, ../../app/stylesheets/screen.scss */
body #container #content .rside-fill ul li .image-wrapper.transp {
  background: none;
}
/* line 40, ../../app/stylesheets/screen.scss */
body #container #content .rside-fill ul li .image-wrapper img {
  max-width: 94px;
  max-height: 134px;
  vertical-align: middle;
}
/* line 157, ../../app/stylesheets/screen.scss */
body #container #content #main-content {
  margin-top: 1px;
  padding: 12px 10px 10px 10px;
  background: url(/images/rightdot.png) repeat-y;
  width: 430px;
  float: left;
}
/* line 163, ../../app/stylesheets/screen.scss */
body #container #content #main-content #contacts {
  padding: 5px 5px 5px 10px;
}
/* line 165, ../../app/stylesheets/screen.scss */
body #container #content #main-content #contacts span {
  margin-bottom: 10px;
  line-height: 50px;
}
/* line 166, ../../app/stylesheets/screen.scss */
body #container #content #main-content #contacts li.tel, body #container #content #main-content #contacts li.email {
  line-height: 20px;
  height: 20px;
  vertical-align: middle;
  padding: 2px 0;
}
/* line 171, ../../app/stylesheets/screen.scss */
body #container #content h3.sub-header {
  font-size: 1.2em;
  color: #666666;
}
/* line 174, ../../app/stylesheets/screen.scss */
body #container #content h2.header {
  background: url(/images/arrow1.jpg) 0 50% no-repeat;
  text-indent: 20px;
  margin-top: 20px;
  color: red;
  font-size: 1.5em;
  margin-bottom: 3px;
}
/* line 181, ../../app/stylesheets/screen.scss */
body #container #content #top-logo {
  height: 90px;
}
/* line 183, ../../app/stylesheets/screen.scss */
body #container #content #top-logo img {
  margin: 10px 5px 0px 20px;
  float: left;
}
/* line 186, ../../app/stylesheets/screen.scss */
body #container #content #top-logo h2 {
  padding-top: 24px;
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
}
