<%= content_for :slides do %>
  <div><%= image_tag('truck3.jpg')%></div>
<% end %>

<%= content_for :title do %>
  Contacts
<% end %>

<%= content_for :header do %>
  How to Find Us
<% end %>

<div id="contacts" class="overview">
  <dl>
    <dt>Address:</dt>
    <dd>
      No.97 Beihuan Road Dandong City<br />
      Liaoning Province P. R. China<br />
      Website: http://www.dd518c.com
    </dd>
  </dl>
  <dl>
    <dt>China</dt>
    <dd>
      <ul>
        <li class="tel"><img class="icon" src="/images/tel.jpeg"/><span>Tel/Fax: (86-20-3721-7971)</span></li> 
        <li class="email"><img class="icon" src="/images/email.jpeg"/><a href="mailto:gzym_qp@hotmail.com"><span>gzym_qp@hotmail.com</span></a></li>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt>US</dt>
    <dd>
      <ul>
        <li class="tel"><img class="icon" src="/images/tel.jpeg"/><span>Tel: (626-628-4100)</span></li>
        <li class="email"><img class="icon" src="/images/email.jpeg"/><a href="mailto:crankshaft518@gmail.com"><span>crankshaft518@gmail.com</span></a></li>
      </ul>
    </dd>
  </dl>
  <div id="map" style="width:400px;text-align:center;margin-top:20px;">
    <a rel="facebox" href="images/map.png"><img src="/images/map.png" style="width:170px; height:160px;"/></a>
  </div>
</div>